{% extends 'base.jinja2' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-lg-4">
                <p class="alert alert-warning">{{ error }}</p>
            </div>
        </div>
    </div>
{% endblock %}